.login-form {
  display: flex;
  align-items: baseline;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 8px;
}

.login-form > label > input {
  display: flex;
  margin: 8px;
  gap: 8px;
  width: 360px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #808080;
}

.login-form > button {
  background-color: #4e75ff;
  color: #ffffff;
  border-radius: 8px;
  width: 86px;
  height: 40px;
  border: none;
}
